app-name = "changelog"
version = 1.0

[db]
host = "CHL_DBHOST"
port = "CHL_DBPORT"
user = "CHL_DBUSER"
password = "CHL_DBPASS"
dbname = "CHL_DBNAME"

[server]
http-port = "3000"

[log]
debug-mode = true